<footer class="mt-auto">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"><b>&COPY; Wonderlust Private Limited</b></div>
        <div class="f-info-links">
            <a href="privacy">Privacy</a>
            <a href="Terms&conditions"> &nbsp; &nbsp; &nbsp;Terms & Condtions</a>
        </div>
    </div>
</footer>
